{% set navs = [
    {
        link: '/search',
        title: 'Помещения'
    },
    {
        link: '/about',
        title: 'О компании'
    },
    {
        link: 'https://tsc.depoarenda.ru/',
        title: 'Торговый центр'
    },
    {
        link: '/lightindustrial',
        title: 'Light Industrial'
    },
    {
        link: '#partner-locations',
        title: 'Объекты партнеров'
    }
] %}

{% set contacts = {
    phone: {
        link: 'tel:+73412794040',
        title: '+7 (3412) 79-40-40'
    },
    socials: [
        {
            link: 'https://t.me/+79120557755',
            type: 'telegram',
            icon: 'telegramIcon',
            title: 'Telegram'
        },
        {
            link: 'https://wa.me/79120557755',
            type: 'whatsapp',
            icon: 'whatsappIcon',
            title: 'WhatsApp'
        },
        {
            link: 'https://vk.me/depoizh',
            type: 'vk',
            icon: 'vkIcon',
            title: 'Vk'
        }
    ],
    channels: [
        {
            link: 'https://t.me/depo_arenda',
            type: 'telegram',
            icon: 'telegramIcon',
            title: 'Наш канал'
        },
        {
            link: 'https://vk.com/depoizh',
            type: 'vk',
            icon: 'vkIcon',
            title: 'Vk'
        }
    ],
    email: {
        link: 'mailto:info@depoarenda.ru',
        title: 'info@depoarenda.ru'
    }
} %}

{% extends "layouts/body.njk" %}

{% block bodyContent %}

    <header class="page__header">
        {% include "includes/header.njk" %}
    </header>

    <main class="page__main">
        {% block mainContent %}{% endblock %}
    </main>

    <footer class="page__footer">
        {% include "includes/footer.njk" %}
    </footer>

{% endblock %}