{% set pageTitle = 'Отчет - Депо' %}
{% set pageDescription = 'АО “Депо” Отчет данных аренды' %}

{% extends "layouts/empty.njk" %}

{% block mainContent %}

    <section class="section" id="report">
        <div class="container">
            <div data-react-component="webReport"></div>
        </div>
    </section>

{% endblock %}