{% set pageTitle = 'Аренда помещений - Депо' %}
{% set pageDescription = 'Торгово-складской комплекс Депо: аренда помещений в Ижевске' %}

{% extends "layouts/default.njk" %}

{% block mainContent %}

    <div data-react-component="searchPage"></div>

    <section class="section" id="partner-locations">
        <div class="container">
            <div data-react-component="partnerLinks"></div>
        </div>
    </section>

{% endblock %}